<div class="auth-container">
  <div class="auth-info">
    <h1 class="animated-heading">Welcome to Our Service</h1>
    <p class="animated-text">
      Discover a world of seamless connectivity and efficient solutions crafted
      just for you. Log in to explore more!
    </p>
  </div>

  <div class="auth-form">
    <h2>Register</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input 
          type="text" 
          id="username" 
          [(ngModel)]="registerData.username" 
          name="username" 
          required 
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="emailOrMobile">Email or Mobile Number</label>
        <input 
          type="text" 
          id="emailOrMobile" 
          [(ngModel)]="registerData.emailOrMobile" 
          name="emailOrMobile" 
          required 
          class="form-control"/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input 
          type="password" 
          id="password" 
          [(ngModel)]="registerData.password" 
          name="password" 
          required 
          class="form-control"/>
      </div>

      <button type="submit" class="btn-primary">Register</button>
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
</div>
